extends layout

block content
	h1= title

	-for(i = 0; i < posts.length; i++){
		div.blog-content
			p.blog-title !{posts[i].title}
			p.blog-text !{posts[i].post}
			div.blog-footer
				p.blog-category Category: <a href="#">!{posts[i].category}</a>
				p.blog-info By <a href="#">!{posts[i].author}</a> | !{posts[i].date}
	-}