extends layout

block content
	br
	br
	div.page
		div.blog-section
			-for(i = 0; i < posts.length; i++){
				- category = posts[i].category
				- id = posts[i].id
				- thumbnail = posts[i].thumbnail
				- dateTime = posts[i].date.toLocaleDateString() + " " + posts[i].date.toLocaleTimeString();
				div.blog-content
					a(href='/articles/' + category+'/'+id)
						.blog-title
							p !{posts[i].title}
						img(class="blog-thumbnail" src=thumbnail)
					p.blog-text !{posts[i].content}
					div.blog-footer
						p.blog-category Category: 
							a(href='/articles/'+posts[i].category+'/') !{posts[i].category}
						p.blog-info By
							- var author_link = '/authors/' + posts[i].author_id
							a(href=author_link)  !{posts[i].author_name}
							|  | !{dateTime}
			-}
		div.right-section
			p.right-header POPULAR ARTICLES

			-for(i = posts.length - 1; i >= 0; i--){
				- category = posts[i].category
				- id = posts[i].id
				- thumbnail = posts[i].thumbnail
			div.right-content
				a(href='articles/'+category+'/'+id)
					img(class="right-thumbnail" src=thumbnail)
				a(href='articles/'+category+'/'+id) !{posts[i].title}
			-}