extends layout

block content
	br
	br
	- dateTime = selectedPost.date.toLocaleDateString() + " " + selectedPost.date.toLocaleTimeString();
	div.page
		div.blog-section
			div.blog-content
				.blog-title
					p !{selectedPost.title}
				img(class="blog-thumbnail" src=selectedPost.thumbnail)
				p.blog-text !{selectedPost.content}
				-if(user)
					-if((user.id == selectedPost.author_id) || (user.isAdmin))
						.blog-footer-buttons
							.display-buttons
								.display-button
									a(href='/articles/edit/'+selectedPost.id)
										input(class="blue" type="submit", value="Edit")
								.display-button
									a(href='#')
										input(id="delete_button" class="red" type="submit" value="Delete" data-id=selectedPost.id)
				div.blog-footer
					p.blog-category Category: 
						a(href='/articles/'+selectedPost.category+'/') !{selectedPost.category}
					p.blog-info By 
						- var author_link = '/authors/'+selectedPost.author_id
						a(href=author_link) !{selectedPost.author_name}
						|  | !{dateTime}
		div.right-section
			-if(posts.length > 0)
				p.right-header RELATED ARTICLES

			-for(i = posts.length - 1; i >= 0; i--){
				- category = posts[i].category
				- id = posts[i].id
				- thumbnail = posts[i].thumbnail
			div.right-content
				a(href='../'+category+'/'+id)
					img(class="right-thumbnail" src=thumbnail)
				a(href='../'+category+'/'+id) !{posts[i].title}
			-}