extends layout

block content
	.container
	nav.nav-bar
		a(href="#")
			h2 Blog Site
		ul
			li Home
			li.active_tab Articles
				.mega-menu
					.inner-mega-menu
						a(href="#")
							p Technology
						a(href="#")
							p Automotive
						a(href="#")
							p Business
						a(href="#")
							p Sports
					.inner-mega-menu
						a(href="#")
							p Category
						a(href="#")
							p Category
						a(href="#")
							p Category
						a(href="#")
							p Category
					.inner-mega-menu
						a(href="#")
							p Category
						a(href="#")
							p Category
						a(href="#")
							p Category
						a(href="#")
							p Category
			li Authors
			li About

	
	h1= title
	- dateTime = selectedPost.date.toLocaleDateString() + " " + selectedPost.date.toLocaleTimeString();
	div.page
		div.blog-section
			div.blog-content
				p.blog-title !{selectedPost.title}
				img(class="blog-thumbnail" src=selectedPost.thumbnail)
				//-<img class="blog-thumbnail" src=!{selectedPost.thumbnail}>
				p.blog-text !{selectedPost.content}
				div.blog-footer
					p.blog-category Category: <a href="#">!{selectedPost.category}</a>
					p.blog-info By <a href="#">!{selectedPost.author}</a> | !{dateTime}
		div.right-section

			p.right-header RELATED ARTICLES

			-for(i = posts.length - 1; i >= 0; i--){
				- category = posts[i].category
				- id = posts[i].id
				- thumbnail = posts[i].thumbnail
			div.right-content
				a(href='../'+category+'/'+id)
					img(class="right-thumbnail" src=thumbnail)
				a(href='../'+category+'/'+id) !{posts[i].title}
				//-<a href="/articles/{}"><img class="right-thumbnail" src=!{posts[i].thumbnail}></a>
				//-<a href="/articles/test">!{posts[i].title}</a>
			-}