extends layout

block content
	br
	br
	- dateTime = selectedPost.date.toLocaleDateString() + " " + selectedPost.date.toLocaleTimeString();
	div.page
		div.blog-section
			div.blog-content
				p.blog-title !{selectedPost.title}
				img(class="blog-thumbnail" src=selectedPost.thumbnail)
				p.blog-text !{selectedPost.content}
				div.blog-footer
					p.blog-category Category: 
						a(href='/articles/'+selectedPost.category+'/') !{selectedPost.category}
					p.blog-info By <a href="#">!{selectedPost.author}</a> | !{dateTime}
		div.right-section

			p.right-header RELATED ARTICLES

			-for(i = posts.length - 1; i >= 0; i--){
				- category = posts[i].category
				- id = posts[i].id
				- thumbnail = posts[i].thumbnail
			div.right-content
				a(href='../'+category+'/'+id)
					img(class="right-thumbnail" src=thumbnail)
				a(href='../'+category+'/'+id) !{posts[i].title}
			-}