extends layout

block content
    .container
        .author-banner
            .inner
                .display
                    - var profilepic = '/images/'+author.profile_pic
                    img(src=profilepic)
                    //-img(src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/12745620_10205689741110953_7145775315793063436_n.jpg?_nc_cat=0&oh=b3dc9896c0c52e9c617f549ea518c1bb&oe=5B6E644D")
                    h1=posts[0].author_name
                    .bio
                        p=author.bio
                        //-p Lorem ipsum dolor sit amet, at verterem partiendo scripserit vix, partem dignissim maiestatis in his. Mel at vocent temporibus, doctus aperiam delicatissimi an vel. Ornatus labores ceteros id sea. Tation tollit eu qui

    .page-author
        .blog-section-author
            h1 Recent Posts:
            -for(i = 0; i < posts.length; i++){
                - category = posts[i].category
                - id = posts[i].id
                - thumbnail = posts[i].thumbnail
                - dateTime = posts[i].date.toLocaleDateString() + " " + posts[i].date.toLocaleTimeString();
                .blog-content
                    a(href='/articles/' + category+'/'+id)
                        p(class="blog-title") !{posts[i].title}
                        img(class="blog-thumbnail" src=thumbnail)
                    p.blog-text !{posts[i].content}
                    .blog-footer
                        p.blog-category Category: 
                            a(href='/articles/'+posts[i].category+'/') !{posts[i].category}
                        p.blog-info By <a href="#">!{posts[i].author_name}</a> | !{dateTime}
            -}
