extends layout

block content
    .container
        nav.nav-bar
            a(href="/")
                h2 Blog Site
            .main-nav
                ul
                    li
                        a(href="/")
                            p1 Home
                    li 
                        a(href="javascript:void(0)")
                            p1 Articles
                                .mega-menu
                                    h3 Categories
                                    .inner-mega-menu
                                        a(href="/articles/Technology")
                                            p Technology
                                        a(href="/articles/Automotive")
                                            p Automotive
                                        a(href="/articles/Business")
                                            p Business
                                        a(href="/articles/Sports")
                                            p Sports
                                    .inner-mega-menu
                                        a(href="/articles/Travel")
                                            p Travel
                                        a(href="/articles/Economics")
                                            p Economics
                                        a(href="/articles/Politics")
                                            p Politics
                                        a(href="/articles/Science")
                                            p Science
                                    .inner-mega-menu
                                        a(href="/articles/Entertainment")
                                            p Entertainment
                                        a(href="/articles/Music")
                                            p Music 
                                        a(href="/articles/Gaming")
                                            p Gaming
                                        a(href="/articles/Other")
                                            p Other
                    li.active_tab
                        a(href="/authors")
                            p1 Authors
                    li
                        a(href="/about")
                            p1 About
                    li
                        .search-container
                            form(name="search_bar", onsubmit="return search()", action='/search/', method="get")
                                input(type="text" placeholder="Search.." name="search_input")
                                button(type="submit")
                                    i(class="fa fa-search")             
            .right-nav
                ul
                    li
                        a(href="/users/register")
                            p1 Register
                    li
                        a(href="/users/login")
                            p1 Login

        .author-banner
            .inner
                .display
                    img(src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/12745620_10205689741110953_7145775315793063436_n.jpg?_nc_cat=0&oh=b3dc9896c0c52e9c617f549ea518c1bb&oe=5B6E644D")
                    h1 Alex McGill
                    .bio
                        p Lorem ipsum dolor sit amet, at verterem partiendo scripserit vix, partem dignissim maiestatis in his. Mel at vocent temporibus, doctus aperiam delicatissimi an vel. Ornatus labores ceteros id sea. Tation tollit eu qui

    .page-author
        .blog-section-author
            h1 Recent Posts:
            -for(i = 0; i < posts.length; i++){
                - category = posts[i].category
                - id = posts[i].id
                - thumbnail = posts[i].thumbnail
                - dateTime = posts[i].date.toLocaleDateString() + " " + posts[i].date.toLocaleTimeString();
                .blog-content
                    a(href='/articles/' + category+'/'+id)
                        p(class="blog-title") !{posts[i].title}
                        img(class="blog-thumbnail" src=thumbnail)
                    p.blog-text !{posts[i].content}
                    .blog-footer
                        p.blog-category Category: 
                            a(href='/articles/'+posts[i].category+'/') !{posts[i].category}
                        p.blog-info By <a href="#">!{posts[i].author}</a> | !{dateTime}
            -}
