extends layout

block content
	.page-header.centered
		h1 Showing search results for '!{search_query}'

	div.page-center
		div.blog-section-center
			-for(i = 0; i < posts.length; i++){
				- category = posts[i].category
				- id = posts[i].id
				- thumbnail = posts[i].thumbnail
				- dateTime = posts[i].date.toLocaleDateString() + " " + posts[i].date.toLocaleTimeString();
				div.blog-content
					a(href='/articles/' + category+'/'+id)
						.blog-title
							p !{posts[i].title}
						img(class="blog-thumbnail" src=thumbnail)
					p.blog-text !{posts[i].content}
					div.blog-footer
						p.blog-category Category: <a href="#">!{posts[i].category}</a>
						p.blog-info By
							- var author_link = '/authors/' + posts[i].author_id
							a(href=author_link)  !{posts[i].author_name}
							|  | !{dateTime}
			-}